<div class="container">
  <div class = "card-deck mb-3 text-center">
     <div>
      <h3>Interviews</h3>
      <table class="table table-responsive table-hover table-bordered">
        <thead>
          <tr>
            <th>Interview</th>
			<th>Interviewee</th>
            <th>Client</th>
            <th>Date Notified</th>
            <th>Date of Interview</th>
            <th>Medium</th>
      		<th>Job Description</th>
            <th>Flagged</th>
            <th>Feedback</th>    
            <!-- <th>Associate Feedback <i class="fa fa-edit" style="font-size:24px"></i> </th>
            <th>Client Feedback</th>   -->
            
             
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let interview of interviews; let i = index">
            <td>{{i+1}}</td>
            <td>{{interview.tfAssociate.firstName}} {{interview.tfAssociate.lastName}}</td>
			<td>{{interview.tfClientName}}</td>
            <td>
               {{interview.dateAssociateIssued | date:'short'}}     
            </td>
            <td> 
               {{interview.tfInterviewDate | date:'short'}}     
            </td>
            <td>{{interview.typeName}}</td>
            <td>{{interview.jobDescription}}</td>           
            <td>
			</td>
			<td><a class="id"(click)='viewInterview(interview)'>view</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
