thead {
  background-color: #ddd;
  border-color: black;
}

.pointer {
  cursor: pointer;
}

#info {
  border-color: #c8c8c8;
  border-width: 1px;
  border-style: solid;
}

.pre-scrollable {
  max-height: 550px !important;
  overflow-y: scroll;
}