<div class="container">
  <div class="col-md-6">
    <h3>Roles</h3>
    <label>Administrator</label>
    <p>Can do everything the other users can do in addition to creating new users.</p>
    <label>Sales/Delivery/Staging Manager</label>
    <p>Can view and edit everything. Can also comment on interviews, and add feedback.</p>
	<label>Trainer</label>
    <p>Can view everything, but not edit. Trainers can also approve newly registered Associates.</p>
    <label>Associate</label>
    <p>Can register, view their information, submit and flag interviews, and request status updates.</p>
  </div>
  <div class="well col-md-5">
    <h3>Create New User:</h3>
    <form id="NewUserForm">
      <label for="username" class="sr-only">Username: </label>
      <input class="form-control" type="text" placeholder="Username" name="username" id="username" required [(ngModel)]="username"/>
      <label for="password" class="sr-only">Password: </label>
      <input class="form-control" type="password" placeholder="Password" name="password" id="password" required [(ngModel)]="password"/>
      <label for="password" class="sr-only">Confirm Password: </label>
      <input class="form-control" type="password" placeholder="Confirm Password" name="password2" id="password2" [(ngModel)]="password2"/>
      <br>
      <div *ngIf="errMsg" class="alert alert-danger">
        {{errMsg}}
      </div>
      <div *ngIf="sucMsg" class="alert alert-success">
        {{sucMsg}}
      </div>
      <div class="form-group">
          <label for="RoleType">Please Select Role Type:</label><br>
          <input [disabled]="this.loggedIn.role !== 1" type="radio" name="optradio" value="1" [(ngModel)]="roleId">&ensp;Administrator<br>
          <input type="radio" name="optradio" value="2" [(ngModel)]="roleId">&ensp;Trainer<br>
          <input type="radio" name="optradio" value="3" [(ngModel)]="roleId">&ensp;Delivery/Sales<br>
          <input type="radio" name="optradio" value="4" [(ngModel)]="roleId">&ensp;Staging Manager <br>
          <input type="radio" name="optradio" value="5" [(ngModel)]="roleId">&ensp;Associate<br>
       </div>
      <br>
      <input (click)="createUser()" type="submit" class="btn btn-default" value="Submit">
    </form>
  </div>
</div>
