<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- NEVER SET TO CREATE UNLESS YOU WANT TO REMOVE ALL DATA IN DATABASE -->
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <!-- Used for debugging -->
        <property name="show_sql">false</property>
        <property name="hibernate.format_sql">false</property> <!-- Make false to compress SQL in console if above is enabled -->
        <!-- Dialect and driver -->
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
        <!-- Caching -->
        <property name="hibernate.cache.default_cache_concurrency_strategy">read-write</property>
       	<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <!-- Connection pool -->
        <property name="hibernate.connection.pool_size">4</property>
        <!-- Mapped entities -->
        <mapping class="com.revature.entity.TfAssociate"/>
        <mapping class="com.revature.entity.TfCurriculum"/>
        <mapping class="com.revature.entity.TfEndClient"/>
        <mapping class="com.revature.entity.TfInterviewType"/>
        <mapping class="com.revature.entity.TfUser"/>
        <mapping class="com.revature.entity.TfBatchLocation"/>
        <mapping class="com.revature.entity.TfPlacement"/>
        <mapping class="com.revature.entity.TfRole"/>
        <mapping class="com.revature.entity.TfMarketingStatus"/>
        <mapping class="com.revature.entity.TfBatch"/>
        <mapping class="com.revature.entity.TfInterview"/>
        <mapping class="com.revature.entity.TfClient"/>
        <mapping class="com.revature.entity.TfTrainer"/>   
    </session-factory>
</hibernate-configuration>