<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
<!--         <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        <property name="hibernate.generate_statistics">false</property>
        <property name="hibernate.connection.release_mode">after_transaction</property> -->
        
        
                
        <!--
            note all properties here are only default values; can be overwritten with
            values in dbProps passed into HibernateUtil initSessionFactory; dialect
            and driver must be overwritten for different databases (such as hsql)
        -->
        
        <!-- NEVER SET TO CREATE UNLESS YOU WANT TO REMOVE ALL DATA IN DATABASE -->
        <property name="hibernate.hbm2ddl.auto">validate</property>
        
        <!-- Used for debugging -->
        <property name="show_sql">false</property>
        
        <!--  <property name="hibernate.enable_lazy_load_no_trans">true</property>-->
        
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
        
        <property name="hibernate.connection.pool_size">4</property>
        
       	<property name="hibernate.cache.use_second_level_cache">true</property>

       	<!-- Tells Hibernate which class to use for caching, exposed from the org.hibernate.ehcache dependency -->
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<property name="net.sf.ehcache.configurationResourceName">/ehcache.xml</property>

        
        <!-- Mapped entities -->
        <mapping class="com.revature.entity.TfAssociate"/>
        <mapping class="com.revature.entity.TfCurriculum"/>
        <mapping class="com.revature.entity.TfEndClient"/>
        <mapping class="com.revature.entity.TfInterviewType"/>
        <mapping class="com.revature.entity.TfUser"/>
        <mapping class="com.revature.entity.TfBatchLocation"/>
        <mapping class="com.revature.entity.TfPlacement"/>
        <mapping class="com.revature.entity.TfRole"/>
        <mapping class="com.revature.entity.TfMarketingStatus"/>
        <mapping class="com.revature.entity.TfBatch"/>
        <mapping class="com.revature.entity.TfInterview"/>
        <mapping class="com.revature.entity.TfClient"/>
        <mapping class="com.revature.entity.TfTrainer"/>
        
    </session-factory>
</hibernate-configuration>
