<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="http://revature.com">
          <br><img class="img-responsive footer-img" src="./assets/rev-footer.png" alt="Revature" />
        </a>
      </div>
      <div class="col-md-3">
        <br><span class="main-head-contact">CORPORATE HEADQUARTERS</span><br>
        <span style="color:#9b9c9f">11730 Plaza America Drive Reston, VA 20190</span>
      </div>
      <div class="col-md-3">
        <br><span class="main-head-contact">PHONE & FAX</span><br>
        <a style="color:#9b9c9f" href="tel:703 995 4500" class="sub-head">
          <span class="small padding-right-5">P </span>
          (703) 995-4500
        </a>
        <br>
        <a style="color:#9b9c9f" href="tel:(703) 570-8181" class="sub-head">
          <span class="small padding-right-5">F </span>
          (703) 570-8181
        </a>
      </div>
      <div class="col-md-3">
        <br><span class="main-head-contact">E-MAIL</span><br>
        <a style="color:#9b9c9f" href="info@revature.com" class="sub-head">
          info@revature.com
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <span class="copyright">
        <i class="fa fa-copyright" aria-hidden="true"></i>
        &nbsp;2018 All rights reserved.
      </span>
    </div>
  </div>
</footer>
