footer {
  background-color: #484c55;
  text-align: center;
  width: 100%;
}

div.col-md-3 {
  text-align: center;
}

img.img-responsive {
  width: 180px;
}

span.main-head-contact{
  font-weight: 700;
  font-size: 15px;
  color: white;
}

hr {
  border-color: white;
}

body > app-component > app-footer > footer > div {
  width: 100%;
}
div.row span.copyright{
  color: white;
  font-size: 12px;
  width: 100%;
}
