<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<suite name="Suite" parallel="false">
	<test name="Test">
		<classes>
			<class name="com.revature.dao.ClientDaoImplTest" />
			<class name="com.revature.dao.DatabaseDaoImplTest" />
			<class name="com.revature.dao.MarketingStatusDaoTest" />
			<class name="com.revature.dao.AssociateDaoImplTest" />
			<class name="com.revature.dao.BatchDaoImplTest"/>
			<class name="com.revature.dao.HomeDaoImplTest"/>
			<class name="com.revature.dao.UserDaoImplTest"/>
			<class name="com.revature.services.DatabaseServicesTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
