<nav *ngIf="isLoggedIn" class="navbar navbar-expand-lg navbar-light">
  <!-- Brand Image -->
  <a class="navbar-brand">
    <img src="../../../assets/logo.png" height="50" alt="Revature Logo">
    <!-- Welcome Message -->
    <small *ngIf="isLoggedIn"> Welcome, {{username}}!</small>
  </a>

  <!-- if screen becomes to small, organize buttons into dropdown -->
  <button *ngIf="isLoggedIn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse nav-justified" id="collapsingNav" *ngIf="navbarService.visible">
    <!-- Navbar Buttons -->
    <ul *ngIf='isAssociate' class="nav nav-pills" id="associateNav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/associate-view']" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/myinterview-view']" routerLinkActive="active">My Interviews</a>
      </li>
    </ul>

    <ul *ngIf='isTrainer' class="nav nav-pills" id="trainerNav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/trainer-view']" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/batch-listing']" routerLinkActive="active">Batch List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/associate-listing']" routerLinkActive="active">Associate List</a>
      </li>
    </ul>

    <ul *ngIf='isStaging || isSales || isAdmin' class="nav nav-pills" id="adminNav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/app-home']" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/client-listing']" routerLinkActive="active">Client List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/batch-listing']" routerLinkActive="active">Batch List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/associate-listing']" routerLinkActive="active">Associate List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/predictions']" routerLinkActive="active">Predictions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/create-user']" routerLinkActive="active">Create User</a>
      </li>
      <li *ngIf='isAdmin' class="nav-item">
        <a class="nav-link" [routerLink]="['/salesforce']" routerLinkActive="active">Salesforce</a>
      </li>
      <li class="nav-item">
        <a style="color:#F9231A" class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
