#logo{
  width:120px;
}

.navbar {
  background-color:white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nav {
  background-color: white;
  text-align: center;
}

/* color of active tab in navbar */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #00A599;
}

/* background color of active tab if necessary */
a.nav-link.active{
  color:white;
}

/* Change the link color on hover */
li:hover {
  /* text-decoration: underline; */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* color of welcome message */
#navbarDropdown {
  border-left: 1px solid rgba(0,0,0,0.12);
  color: #F26925;
}

/* color of logout button */
.dropdown-item {
  text-align: center;
  color: #F9231A;
}

/* text within navbar  */
#collapsingNav {
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}




