<nav class="navbar navbar-default custom-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="../../../assets/logo.png" height="52" width="152" alt="Revature Logo">
      </a>
    </div>
    <ul *ngIf='isAssociate' class="nav navbar-nav">
      <li>
        <a [routerLink]="['/associate-view']" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a [routerLink]="['/myinterview-view']" routerLinkActive="active">My Interviews</a>
      </li>
    </ul>

    <ul *ngIf='isTrainer' class="nav navbar-nav">
      <li>
        <a [routerLink]="['/trainer-view']" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a [routerLink]="['/batch-listing']" routerLinkActive="active">Batch List</a>
      </li>
      <li>
        <a [routerLink]="['/associate-listing']" routerLinkActive="active">Associate List</a>
      </li>
    </ul>

    <ul *ngIf='isAdmin' class="nav navbar-nav">
      <li>
        <a [routerLink]="['/app-home']" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a [routerLink]="['/client-listing']" routerLinkActive="active">Client List</a>
      </li>
      <li>
        <a [routerLink]="['/batch-listing']" routerLinkActive="active">Batch List</a>
      </li>
      <li>
        <a [routerLink]="['/associate-listing']" routerLinkActive="active">Associate List</a>
      </li>
      <li>
        <a [routerLink]="['/predictions']" routerLinkActive="active">Predictions</a>
      </li>
      <li>
        <a [routerLink]="['/interviews']" routerLinkActive="active">Interviews</a>
      </li>
      <li>
        <a [routerLink]="['/create-user']" routerLinkActive="active">Create User</a>
      </li>
    </ul>

    <ul *ngIf='isLoggedIn' class="nav navbar-nav navbar-right visible-lg">
      <li>
        <a (click)="logout()">Logout</a>
      </li>

      <li>
        <a>Welcome, {{username}}</a>
      </li>
    </ul>
  </div>
</nav>