<nav class="navbar navbar-default custom-nav">
  <div class="container-fluid" style="padding: 0px">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="../../../assets/logo.png" height="52" width="152" alt="Revature Logo">
      </a>
    </div>

    <ng-container *ngIf="navbarService.visible">
      <ul *ngIf='isLoggedIn' class="nav navbar-nav navbar-right">
        <li>
          <span>Welcome, {{message}}</span>
        </li>
        <li>
          <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
        </li>
      </ul>

      <ul *ngIf='isAssociate' class="nav navbar-nav">
        <li>
          <a [routerLink]="['/associate-view']" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a [routerLink]="['/myinterview-view']" routerLinkActive="active">My Interviews</a>
        </li>
      </ul>

      <ul *ngIf='isTrainer' class="nav navbar-nav">
        <li>
          <a [routerLink]="['/trainer-view']" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a [routerLink]="['/batch-listing']" routerLinkActive="active">Batch List</a>
        </li>
        <li>
          <a [routerLink]="['/associate-listing']" routerLinkActive="active">Associate List</a>
        </li>
      </ul>

      <ul *ngIf='isStaging || isSales || isAdmin' class="nav navbar-nav">
        <li>
          <a [routerLink]="['/app-home']" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a [routerLink]="['/client-listing']" routerLinkActive="active">Client List</a>
        </li>
        <li>
          <a [routerLink]="['/batch-listing']" routerLinkActive="active">Batch List</a>
        </li>
        <li>
          <a [routerLink]="['/associate-listing']" routerLinkActive="active">Associate List</a>
        </li>
        <li>
          <a [routerLink]="['/predictions']" routerLinkActive="active">Predictions</a>
        </li>
        <li>
          <a [routerLink]="['/create-user']" routerLinkActive="active">Create User</a>
        </li>
        <li *ngIf='isAdmin'>
          <a [routerLink]="['/salesforce']" routerLinkActive="active">Salesforce</a>
        </li>
      </ul>
    </ng-container>
  </div>
</nav>