#predictionsHeader, #requirementsError, #requirementsHeader, #resourcesHeader, #batchDetailsHeader{
  text-align: center;
  padding-top: 10px;
}

#resourcesHeader{
  margin: 0;
}

div.col-lg-5{
  margin: 22px;
  background-color: rgba(212, 212, 212, 0.349);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div.col-lg-6.offset-lg-1{
  margin: 22px;
  background-color: rgba(212, 212, 212, 0.349);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div.col-lg-12 {
  width: 100%;
  background-color: rgba(212, 212, 212, 0.349);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.table-div thead {
  background-color: #ddd;
}

.table-div{
  border: 1px solid rgb(200,200,200);
  border-radius: 3px;
  padding: 0px;
  overflow: hidden;
  margin-bottom: 20px;
}

#batchDetailsContainer {
  background-color: rgba(212, 212, 212, 0.349);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
}

#batchDetailsContainer > div > div.table-div > table {
  background-color: white;
}

.table-div table{
  margin: 0px;
}

.borderless td, .borderless th {
  border: none;
}

.scrollbar {
  overflow-y: scroll;
  margin-bottom: 25px;
}


.nopadding-table td, .nopadding-table th, .nopadding-table row{
  padding: 2px 4px;
}

.scrollbar-primary::-webkit-scrollbar {
width: 12px;
background-color: rgb(255, 255, 255);
box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4;
}

.scrollable-table thead,
.scrollable-table tbody,
.scrollable-table tr,
.scrollable-table td,
.scrollable-table th { display: block; }

.scrollable-table  tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.scrollable-table tbody {
  overflow-y: auto;
}

.col-2-table tbody td, .col-2-table thead th {
  width: 50%;
  float: left;
}

.col-5-table tbody td, .col-5-table thead th {
  width: 25%;
  float: left;
}
