.min-height {
  min-height: 100vh;
}

.bg-white {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid grey;
}

.row {
  margin-top: 10px;
}

table {
  background: #fefefe;
  border-width: 2px;
}

.info td:first-child {
  font-weight: bold;
}

.toggledContainer {
  min-height: 300px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 5px;
  background-color: white;
  border: 2px solid lightgrey;
}
