<app-navbar></app-navbar>
<div class="container min-height" ng-init="" *ngIf="!isAssociate">
  <div class="row">
    <div class="alert alert-success" *ngIf="successMessage">
      <h5 class="text-success">{{successMessage}}</h5>
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage">
      <h5 class="text-danger">{{errorMessage}}</h5>
    </div>
    <div class="col-sm-6">
      <h3>Associate Info</h3>
      <div class="table-responsive info">
        <table class="table table-hover table-bordered">
          <tbody>
            <tr *ngIf="!isVerified">
              <td>This Associate has not been approved yet</td>
              <td>
                <a *ngIf="true" (click)="verifyAssociate()">Approve</a>
              </td>
            </tr>
            <tr>
              <td>Associate ID</td>
              <td>{{associate.id}}</td>
            </tr>
            <tr>
              <td>First Name</td>
              <td>{{associate.firstName}}</td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td>{{associate.lastName}}</td>
            </tr>
            <tr>
              <td>Marketing Status</td>
              <td>{{associate.marketingStatus}}</td>
            </tr>
            <tr>
              <td>Batch Name</td>
              <td>
                <a [routerLink]="['/batch-details', associate.bid]">{{associate.batchName}}</a>
              </td>
            </tr>
            <tr>
              <td>Client Name</td>
              <td>{{associate.client}}</td>
            </tr>
            <tr>
              <td>Start Date</td>
              <td>{{associate.clientStartDate | date:'longDate'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6">
      <h3>Interviews</h3>
      <table class="table table-responsive table-hover table-bordered">
        <thead>
          <tr>
            <th>Interview</th>
            <th>Client</th>
            <th>Date</th>
            <th>Type</th>
            <th>Feedback</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let interview of interviews; let i = index">
            <td>{{i+1}}</td>
            <td>{{interview.client}}</td>
            <td>{{interview.date | date:'longDate'}}</td>
            <td>{{interview.type}}</td>
            <td>{{interview.feedback}}</td>
          </tr>
        </tbody>
      </table>
      <button type="button" *ngIf="!isVP" class="btn btn-primary" (click)="toggleForm()">Toggle Create New Interview Form</button>
      <div class="row" *ngIf="formOpen" class="toggledContainer">
        <div class="col-lg-9">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-3">Client:</label>
              <div class="col-sm-9">
                <select class="form-control" name="newClient" [(ngModel)]="newInterview.client">
                  <option selected="selected">None</option>
                  <option *ngFor="let client of clients" [value]="client.id">{{client.tfClientName}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Date:</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" name="date" [(ngModel)]="newInterview.date" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Type:</label>
              <div class="col-sm-9">
                <select class="form-control" name="type" [(ngModel)]="newInterview.type">
                  <option value="1">Phone</option>
                  <option value="4">Skype</option>
                  <option value="2">Online</option>
                  <option value="3">On-site</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Feedback:</label>
              <div class="col-sm-9">
                <textarea type="text" class="form-control" name="feedback" rows="3" [(ngModel)]="newInterview.feedback"></textarea>
              </div>
            </div>
            <button type="button" (click)="addInterview()" class="btn btn-warning">Add Interview</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!isVP">
    <div class="col-sm-12">
      <div class="bg-white">
        <h3>Update Associate Form</h3>
        <form>
          <div class="form-group">
            <input type="checkbox" [checked]="isMapped" (change)="isMapped = !isMapped">
            <label>Is the associate mapped?</label>
          </div>
          <div class="form-group">
            <input type="checkbox" [checked]="eligibleForInterview" (change)="eligibleForInterview = !eligibleForInterview">
            <label>Is the associate eligible for an interview?</label>
          </div>
          <div *ngIf="eligibleForInterview" class="form-group">
            <input type="checkbox" [checked]="interviewScheduled" (change)="interviewScheduled = !interviewScheduled">
            <label>Is the associate scheduled for an interview?</label>
          </div>
          <div *ngIf="interviewScheduled" class="form-group">
            <label for="client">Assign Client:</label>
            <select name="automated-selected-client" [(ngModel)]="selectedClient">
              <option selected="selected">None</option>
              <option *ngFor="let client of clients" [value]="client.id">{{client.tfClientName}}</option>
            </select>
          </div>
          <div *ngIf="interviewScheduled" class="form-group">
            <input type="checkbox" [checked]="clearedAllInterviews" (change)="clearedAllInterviews = !clearedAllInterviews">
            <label>Has the associate cleared all interviews?</label>
          </div>
          <div *ngIf="interviewScheduled" class="form-group">
            <input type="checkbox" [checked]="receivedEmailFromClient" (change)="receivedEmailFromClient = !receivedEmailFromClient">
            <label>Has an email been received from the client?</label>
          </div>
          <div *ngIf="interviewScheduled" class="form-group">
            <input type="checkbox" [checked]="passedBackgroundCheck" (change)="passedBackgroundCheck = !passedBackgroundCheck">
            <label>Has the associate passed a background check</label>
          </div>
          <div *ngIf="passedBackgroundCheck" class="form-group">
            <input type="checkbox" [checked]="hasStartDate" (change)="hasStartDate = !hasStartDate">
            <label>Does the associate have a start date?</label>
            <br>
            <input *ngIf="hasStartDate" type="date" name="startdate" [(ngModel)]="newStartDate">
          </div>
          <button type="button" class="btn btn-warning" (click)="processForm()">Update Associate</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!isVP">
    <div class="col-sm-6">
      <h3>Change Status Manually</h3>
      <div class="form-group">
        <label for="mStatus">Choose Status:</label>
        <select class="form-control" name="smkst" [(ngModel)]="selectedMarketingStatus">
          <option value="1">MAPPED: Training</option>
          <option value="2">MAPPED: Reserved</option>
          <option value="3">MAPPED: Selected</option>
          <option value="4">MAPPED: Confirmed</option>
          <option value="5">MAPPED: Deployed</option>
          <option value="6">UNMAPPED: Training</option>
          <option value="7">UNMAPPED: Open</option>
          <option value="8">UNMAPPED: Selected</option>
          <option value="9">UNMAPPED: Confirmed</option>
          <option value="10">UNMAPPED: Deployed</option>
          <option value="11">Directly Placed</option>
          <option value="12">TERMINATED</option>
        </select>
        <label for="client">Assign Client:</label>
        <select class="form-control" name="selectedClient" [(ngModel)]="selectedClient">
          <option selected="selected">None</option>
          <option *ngFor="let client of clients" [value]="client.id">{{client.tfClientName}}</option>
        </select>
        <label class="control-label">Apply Start Date to Associate</label>
        <input type="date" class="form-control" name="date" [(ngModel)]="newStartDate" />
        <button (click)="updateAssociate()" class="btn btn-warning" style="margin-top:10px">Update Status</button>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="isAssociate">
<div class="col-sm-6">
      <h3>Interviews</h3>
      <table class="table table-responsive table-hover table-bordered">
        <thead>
          <tr>
            <th>Interview</th>
            <th>Client</th>
            <th>Date</th>
            <th>Type</th>
            <th>Feedback</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>{{currentinterview.client}}</td>
            <td>{{currentinterview.date | date:'longDate'}}</td>
            <td>{{currentinterview.type}}</td>
            <td>{{currentinterview.feedback}}</td>
          </tr>
        </tbody>
      </table>
      </div>
</div> -->
<app-footer></app-footer>
