<div class="container" ng-init="" *ngIf="!isAssociate">
  <div class="row">
    <div class="alert alert-success" *ngIf="isApproved === 1">
      <h5 class="text-success">Successfully Approved!</h5>
    </div>
    <div class="alert alert-danger" *ngIf="isApproved === 2">
      <h5 class="text-danger">Approval failed</h5>
    </div>
    <div class="alert alert-warning" *ngIf="approvalPending">
      <h5 class="text-warning">Please wait, approval is pending . . .</h5>
    </div>
    <div class="alert alert-success" *ngIf="successMessage">
      <h5 class="text-success">{{ successMessage }}</h5>
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage">
      <h5 class="text-danger">{{ errorMessage }}</h5>
    </div>
  </div>

  <!-- Main Row -->
  <div class="row">
    <div class="col-md-4">
      <h3>Associate Info</h3>
      <div class="table-responsive info table-div">
        <table class="table borderless">
          <tbody>
            <tr *ngIf="associateIsLoaded && associate.user.isApproved === 2">
              <td>This Associate has not been approved yet</td>
              <td>
                <button class="btn btn-primary"
                  (click)="approveAssociate()"
                  [disabled]="approvalPending">
                    Approve
                </button>
              </td>
            </tr>
            <tr>
              <td>Associate ID</td>
              <td>{{(associate && associate.id !== null) ? associate.id : ""}}</td>
            </tr>
            <tr>
              <td>First Name</td>
              <td>{{(associate && associate.firstName) ? associate.firstName : ""}}</td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td>{{(associate && associate.lastName) ? associate.lastName : ""}}</td>
            </tr>
            <tr>
              <td>Marketing Status</td>
              <td>{{(associate && associate.marketingStatus && associate.marketingStatus.name) ? associate.marketingStatus.name
                : ""}}</td>
            </tr>
            <tr>
              <td>Batch Name</td>
              <td>
                <a [routerLink]="['/batch-details', (associate && associate.batch && associate.batch.id) ? associate.batch.id : '#']">{{(associate
                  && associate.batch && associate.batch.batchName) ? associate.batch.batchName : ""}}</a>
              </td>
            </tr>
            <tr>
              <td>Client Name</td>
              <td>{{(associate && associate.client && associate.client.name) ? associate.client.name : ""}}</td>
            </tr>
            <tr>
              <td>Start Date</td>
              <td>{{(associate && associate.clientStartDate) ? (associate.clientStartDate | date:'longDate') : ""}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-8">
      <h3>Update Associate</h3>
      <div class="div-window">

        <div class="form-group">
          <table class="table borderless">
            <tr>
              <td>Choose Status</td>
              <td>
                <select class="form-control" name="smkst" [(ngModel)]="selectedMarketingStatus">
                  <option value="1">MAPPED: Training</option>
                  <option value="2">MAPPED: Reserved</option>
                  <option value="3">MAPPED: Selected</option>
                  <option value="4">MAPPED: Confirmed</option>
                  <option value="5">MAPPED: Deployed</option>
                  <option value="6">UNMAPPED: Training</option>
                  <option value="7">UNMAPPED: Open</option>
                  <option value="8">UNMAPPED: Selected</option>
                  <option value="9">UNMAPPED: Confirmed</option>
                  <option value="10">UNMAPPED: Deployed</option>
                  <option value="11">Directly Placed</option>
                  <option value="12">TERMINATED</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Assign Client</td>
              <td>
                <select class="form-control" name="selectedClient" [(ngModel)]="selectedClient">

                  <option selected="selected">None</option>
                  <option *ngFor="let client of clients" [value]="client.id">{{client.name}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Start Date</td>
              <td><input type="date" class="form-control" name="date" [(ngModel)]="newStartDate" /></td>
            </tr>
          </table>
        </div>
        <hr>
        <form>
          <div class="checkbox">
            <label>
              <input type="checkbox" [checked]="isMapped" (change)="isMapped = !isMapped"> Is the associate mapped?
            </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" [checked]="eligibleForInterview" (change)="eligibleForInterview = !eligibleForInterview"> Is the associate eligible for an interview?
          </label>
          </div>
          <div *ngIf="eligibleForInterview" class="checkbox">
            <label><input type="checkbox" [checked]="interviewScheduled" (change)="interviewScheduled = !interviewScheduled">Is the associate scheduled for an interview?</label>
          </div>
          <div *ngIf="interviewScheduled" class="checkbox">
            <label for="client">Assign Client:</label>
            <select name="automated-selected-client" [(ngModel)]="selectedClient">
              <option selected="selected">None</option>
              <option *ngFor="let client of clients" [value]="client.id">{{client.name}}</option>
            </select>
          </div>
          <div *ngIf="interviewScheduled" class="checkbox">
            <label><input type="checkbox" [checked]="clearedAllInterviews" (change)="clearedAllInterviews = !clearedAllInterviews">Has the associate cleared all interviews?</label>
          </div>
          <div *ngIf="interviewScheduled" class="checkbox">
            <label><input type="checkbox" [checked]="receivedEmailFromClient" (change)="receivedEmailFromClient = !receivedEmailFromClient">Has an email been received from the client?</label>
          </div>
          <div *ngIf="interviewScheduled" class="checkbox">
            <label><input type="checkbox" [checked]="passedBackgroundCheck" (change)="passedBackgroundCheck = !passedBackgroundCheck">Has the associate passed a background check</label>
          </div>
          <div *ngIf="passedBackgroundCheck" class="checkbox">
            <label><input type="checkbox" [checked]="hasStartDate" (change)="hasStartDate = !hasStartDate">Does the associate have a start date?</label>
            <br>
            <input *ngIf="hasStartDate" type="date" name="startdate" [(ngModel)]="newStartDate">
          </div>
          <button type="button" class="btn btn-warning" (click)="processForm()">Update Associate</button>
        </form>
      </div>


    </div>
  </div>

  <!-- Interview Row -->
  <div class="row">
    <div class="col-md-12">
      <h3>Interviews</h3>
      <div class="table-div">
        <table class="table table-striped table-responsive table-hover table borderless scrollable-table col-5-table">
          <thead>
            <tr>
              <th>Interview ID</th>
              <th>Client</th>
              <th>Date</th>
              <th>Type</th>
              <th>Feedback</th>
            </tr>
          </thead>
          <div class="center-div" *ngIf="interviewsLoading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
          <tbody style="max-height: 300px;"  *ngIf="!interviewsLoading">
            <tr *ngFor="let interview of interviews; let i = index" (click)="goToInterviewDetails(interview)">
              <td>{{(interview && interview.id) ? interview.id : ""}}</td>
              <td>{{(interview.client && interview.client.name) ? interview.client.name : ""}}</td>
              <td>{{(interview && interview.interviewDate) ? (interview.interviewDate | date:'longDate') : "" }}</td>
              <td>{{(interview && interview.interviewType && interview.interviewType.name) ?interview.interviewType.name : ""}}</td>
              <td>{{(interview && interview.clientFeedback) ? interview.clientFeedback : ""}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row" *ngIf="interviewSelected != null" class="div-window">
        <div class="col-lg-12">
            <label>Enter feedback for Interview ID: {{interviewSelected.id}}</label>
            <textarea type="text" class="form-control" name="feedback" rows="3" [(ngModel)]="feedback"></textarea>
            <br>
            <button type="button" (click)="updateInterviewFeedback()" class="btn btn-warning">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="isAssociate">
<div class="col-sm-6">
      <h3>Interviews</h3>
      <table class="table table-responsive table-hover table-bordered">
        <thead>
          <tr>
            <th>Interview</th>
            <th>Client</th>
            <th>Date</th>
            <th>Type</th>
            <th>Feedback</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>{{currentinterview.client}}</td>
            <td>{{currentinterview.date | date:'longDate'}}</td>
            <td>{{currentinterview.type}}</td>
            <td>{{currentinterview.feedback}}</td>
          </tr>
        </tbody>
      </table>
      </div>
</div> -->
