/* this is intended to make the datetime popup appear over other elements, instead of pushing them down. However, it currently isn't working */
.pickerGroup
{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

owl-date-time-inline
{
    margin-top: 35px;
    position: absolute;
}

#error-date
{
    width: 100%;
}

.form-group {
    padding:5px;
}

.alert-danger {
    z-index: 10 !important;
}
