<settings>
 <servers>
  <server>
    <id>maven.oracle.com </id>
    <username>trackforce@ether123.net</username>
    <password>{jIojNlHP0LIHjEFsk4443FEQw1bZ9XjrJhLnLq7arYPoR9VBHLhN0sfiGCvAxBBg0gmm9+nc3x/rRyNmCNBqPA==}</password>
  <configuration>
    <basicAuthScope>
      <host>ANY </host>
      <port>ANY </port>
      <realm>OAM 11g</realm>
    </basicAuthScope>
    <httpConfiguration>
      <all>
      <params>
        <property>
          <name>http.protocol.allow-circular-redirects </name>
          <value>%b,true </value>
        </property>
      </params>
      </all>
    </httpConfiguration>
  </configuration>
  </server>
</servers>
</settings>