<div class="container">
  <div id="background">
    <img src="../../../assets/23.jpg" alt="Background Image" />
  </div>

  <div class="container" id="pwd-container">
    <div class="col-md-4 col-md-offset-4">
      <section class="login-form">
        <form class="form-signin" role="login">

          <!--<div *ngIf='this.isRegistering' [@enterAnimation] style="font-weight: bold;color:rgba(0,0,0,1)">-->
          <!--<div class="btn-group" role="group" id="chooseRole">-->
          <!--<button type="button" class="btn btn-default">Associate</button>-->
          <!--<button type="button" class="btn btn-default">Trainer</button>-->
          <!--</div>-->
          <!--</div>-->

          <div [@enterAnimation] *ngIf="!loginClicked" (@enterAnimation.done)="onAnimationDone($event)">
            <img src="../../../assets/logo.png" class="img-responsive" alt="Background image" />

            <div *ngIf="errMsg" class="alert alert-danger">
              <span [innerHTML]=errMsg></span>
            </div>

            <div *ngIf="sucMsg" class="alert alert-success">
              {{sucMsg}}
            </div>

            <div *ngIf='registerPage==0;'>
              <label for="username" class="sr-only">Username: </label>
              <input class="form-control input-lg" type="text" placeholder="Username" name="username" id="username" required
                [(ngModel)]="username" />
              <label for="password" class="sr-only">Password: </label>
              <input class="form-control" type="password" placeholder="Password" name="password" id="password" required
                [(ngModel)]="password" />
            </div>

            <div *ngIf='!this.isRegistering; else elseBlockZero'>
              <button class="btn btn-lg btn-primary btn-block" type="submit" (click)='login()'>Sign in
              </button>
              <button class="btn btn-lg btn-primary btn-block" type="button" (click)='register()'>Register
              </button>
            </div>
          </div>
          <div [@enterAnimation] *ngIf="isLoggingIn">
            <img src="/assets/loading.gif">
          </div>

          <ng-template #elseBlockZero>
            <div *ngIf='this.isRegistering'>
              <label [@enterAnimation] for="cpassword" class="sr-only">Confirm Password: </label>
              <input [@enterAnimation] class="form-control" type="password" placeholder="Confirm Password" name="cpassword" id="cpassword"
                required [(ngModel)]="cpassword" />
              <label for="username" class="sr-only">First Name: </label>
              <input [@enterAnimation] class="form-control input-lg" type="text" placeholder="First Name" name="fname" id="fname" required
                [(ngModel)]="fname" />
              <label for="password" class="sr-only">Last Name: </label>
              <input [@enterAnimation] class="form-control" type="text" placeholder="Last Name" name="lname" id="lname" required [(ngModel)]="lname"
              />
              <label for="chosenRole" class="sr-only"></label>

              <select [@enterAnimation] type="number" class="form-control" id="chosenRole" required [(ngModel)]="role" name="chosenRole">
                <option [ngValue]="undefined">Select Role...</option>
                <option [ngValue]="5">Associate</option>
                <option [ngValue]="2">Trainer</option>
              </select>


            </div>

            <button [@enterAnimation] class="btn btn-lg btn-primary btn-block" type="submit" (click)='createUser()'>
              Register New User
            </button>

            <button [@enterAnimation] class="btn btn-lg btn-primary btn-block" type="button" (click)='cancelRegister()'>
              Cancel
            </button>
          </ng-template>
        </form>
      </section>
    </div>
  </div>
</div>