<div id="background">
  <img src="../../../assets/23.jpg" alt="Background Image"/>
</div>
<div class="container">
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
      <div class="col-md-4">
        <section class="login-form">
          <form class="form-signin" role="login">
            <img src="../../../assets/logo.png" class="img-responsive" alt="Background image" />
            <div *ngIf="errMsg" class="alert alert-danger">
              {{errMsg}}
            </div>
			<div *ngIf='this.isRegistering' class="form-control">
				Register as an Associate
			</div>
            <label for="username" class="sr-only">Username: </label>
            <input class="form-control" type="text" placeholder="Username" name="username" id="username" required class="form-control input-lg" [(ngModel)]="username"/>
            <label for="password" class="sr-only">Password: </label>
            <input class="form-control" type="password" placeholder="Password" name="password" id="password" required [(ngModel)]="password"/>
			<div *ngIf='!this.isRegistering; else elseBlockZero'>
				<button class="btn btn-lg btn-primary btn-block" type="submit" (click)='login()'>Sign in</button>
				<button class="btn btn-lg btn-primary btn-block" type="submit" (click)='register()'>Register</button>
			</div>
			<ng-template #elseBlockZero>
				<label for="cpassword" class="sr-only">Confirm Password: </label>
				<input class="form-control" type="password" placeholder="Confirm Password" name="cpassword" id="cpassword" required [(ngModel)]="cpassword"/>
				<button class="btn btn-lg btn-primary btn-block" type="submit" (click)='createUser()'>Register new user</button>
				<button class="btn btn-lg btn-primary btn-block" type="submit" (click)='cancelRegister()'>Cancel</button>
		    </ng-template>
          </form>
        </section>
      </div>
    </div>
</div>
