@charset "ISO-8859-1";

/*
over-ride "Weak" message, show font in dark grey
*/
.progress-bar {
  color: #333;
}

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/
/* * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  outline: none;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  border: 0;
  border-radius: 0;
  /* @include box-sizing(border-box);
	&:focus {
	z-index:2;
  } */
}

#background {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
  z-index: -1;
}

#background img{
  position: absolute;
  clip-path: circle(40% at 50% 50%);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
	max-height: 100%;
	max-width: 50%;
}


form[role=login] {
  vertical-align: middle;
	color: #5d5d5d;
  background-color: white;
  padding: 26px;

  border-style: solid;
  border-width: 1px;
  border-color: #f26925;
  box-shadow: 2px 4px #f26925;

}

form[role="login"] input,
form[role="login"] button {
  font-size: 18px;
  margin: 16px 0;
}

form[role=login] input, form[role=login] button {
	font-size: 18px;
  margin: 16px 0;
}

.form-links a {
  color: #fff;
}

button.btn.btn-lg.btn-primary.btn-block {
  background-color: #f26925;
  border-radius: 28px;
  border: 2px solid #f26925;

  display: inline-block;
  cursor: pointer;
  color: #fff !important;
  font-size: 15px;
  padding: 12px 30px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}

button.btn.btn-lg.btn-primary.btn-block:hover {
  background-color: #f57c3f;
}

input {
  height: 50px !important;
  border-bottom: 2px solid #f26925 !important;
  font-size: 16px;
  padding: 0;
}

button.btn.btn-lg.btn-primary.btn-block{
  background-color: #f26925;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 2px solid #f26925;
  display: inline-block;
  cursor: pointer;
  color: #fff!important;
  font-size: 15px;
  padding: 12px 30px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}

input{
  height: 50px!important;
  border: 3px solid #f26925!important;
  border-radius: 12px!important;
  font-size: 16px;
}

