<div class="container">
  
    <div class="row">
       <div class="col-sm-1"></div>
      <div class="col-sm-4">
  
         <div class="well">
            <canvas id="pie" class="chart chart-pie" chart-data="UndeployedData" chart-colors="mappedColors" chart-labels="UndeployedLabels" chart-options="undeployedOptions"></canvas>
           </div>
      </div> 
      <div class="col-sm-4">
         <div class="well">
           <canvas id="pie" class="chart chart-pie" chart-data="DeployedData" chart-colors="mappedColors" chart-options="deployedOptions" chart-labels="DeployedLabels"></canvas> 
           </div>
          </div>
      <div class="col-sm-3">
        <button class="btn btn-block">Populate Database</button>
        <button (click)="populateDBSF();"class="btn btn-block">Populate Static Salesforce</button>
        <button (click)="deleteDB(); initForce(); refresh()" class="btn btn-block" >Empty Database</button>
        <p>{{dbMessage}}</p>
  
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
  
         <div class="well">
           <canvas id="pie" class="chart chart-pie" chart-data="MappedData" chart-labels="MappedLabels" chart-click="MappedOnClick" chart-colors="clientTheme" chart-options="mappedOptions"></canvas>
           </div>
      </div>
      <div class="col-sm-4">
          <div class="well">
          <canvas id="pie" class="chart chart-pie" chart-data="UnmappedData" chart-labels="UnmappedLabels" chart-colors="skillTheme" chart-options="unmappedOptions" chart-click="UnmappedOnClick"></canvas>
          </div>
      </div>
    </div>
  </div>
