.white {
	background-color: white;
	margin: 10px 0;
}
.center-div {
  margin: 0 auto;
	width: 100px;
	padding: 25px;
}

.border-info {
  border: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
