<div class="container">
  
    <div class="row">
       <div class="col-sm-1"></div>
      <div class="col-sm-4">
  
         <div class="well">
            <canvas baseChart id="pie" class="chart chart-pie" [data]="UndeployedData" [colors]="mappedColors" [labels]="UndeployedLabels" [options]="undeployedOptions"></canvas>
           </div>
      </div> 
      <div class="col-sm-4">
         <div class="well">
           <canvas baseChart id="pie" class="chart chart-pie" [data]="DeployedData" [colors]="mappedColors" [options]="deployedOptions" [labels]="DeployedLabels"></canvas> 
           </div>
          </div>
      <div class="col-sm-3">
        <button class="btn btn-block">Populate Database</button>
        <button (click)="populateDBSF();"class="btn btn-block">Populate Static Salesforce</button>
        <button (click)="deleteDB(); initForce(); refresh()" class="btn btn-block" >Empty Database</button>
        <p>{{dbMessage}}</p>
  
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
  
         <div class="well">
           <canvas baseChart id="pie" class="chart chart-pie" [data]="MappedData" [labels]="MappedLabels" (chartClick)="MappedOnClick($event)" [colors]="clientTheme" [options]="mappedOptions"></canvas>
           </div>
      </div>
      <div class="col-sm-4">
          <div class="well">
          <canvas baseChart id="pie" class="chart chart-pie" [data]="UnmappedData" [labels]="UnmappedLabels" [colors]="skillTheme" [options]="unmappedOptions" (chartClick)="UnmappedOnClick($event)"></canvas>
          </div>
      </div>
    </div>
  </div>
