body {
  position: relative;
  background-color: white;
}
ul.nav-pills {
  top: 110px;
  position: fixed;
  height: 100%;
  width: 160px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  padding: 12px;
  display: block;

}
ul.nav-pills li:hover{
  background-color: moccasin;
}
div.col-sm-9 div {
  height: 500px;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

@media screen and (max-width: 810px) {
  #deployed, #section2, #mapped, #unmapped  {
      margin-left: 150px;
  }
}
