.client-list-page{
	background-color: #ebedea;
	padding: 20px;
}

#clients-list{
	margin-top: 20px;
}

#clients-list-well {
	margin-top: 20px;
	padding-top: 0px;
	max-height: 350px;
	overflow-y: scroll;
}

/* li{
	padding: 5px;
	margin-top: 0px;
}
ul{
	margin: auto;
	margin-top: 0px;
	padding: 0;
	list-style-type: none;
} */

.center-div
{
  margin: 0 auto;
  width: 100px;
}

img{
	padding: 20px;
}

.client-name{
	color: #757575;
}
.client-name:hover{
	color: #121212;
	cursor: pointer;
	text-decoration: underline;
}

/* Addition */

ul {
  /* background-color: white; */
  display: inline-block;
  width: auto;
  padding: 0px;
}

ul > li {
  cursor: pointer;
  opacity: 1.0;
  transition: opacity .2s ease-in-out;
}

ul > li:hover {
  opacity: 1.0;
}

ul:hover > li:not(:hover) {
  opacity: 0.5;
}

button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: #F26925;
  color: white;
}
