<app-navbar></app-navbar>

<div class="container">
  <div class="row align-items-center">
    <!-- Clients List column -->
    <div class="col-md-3">
      <div class="form-group">
        <input type="text" [(ngModel)]="searchName" (keyup)="getAllClients()" class="form-control" id="clientSearch" placeholder="Search by client name...">
      </div>
      <h3>Clients</h3>
      <button (click)="getTotalChartData()" class="btn btn-primary">View Data for All Clients</button>
      <div id="clients-list-well" class="well">
        <ul id="clients-list">
          <!-- populate list of company names -->
          <li *ngFor="let clientName of clientNames | searchFilter : searchName" (click)="getOneClient(clientName)">
            <span class="client-name">{{clientName}}</span>
          </li>
        </ul>
      </div>
    </div>
    <!-- end of Client List Column -->
    <!-- Display Client name and bar chart regarding client -->
    <div class="col-md-9">
      <h1>{{selectedCompany}}</h1>
      <canvas baseChart id="bar-chart" class="chart chart-bar"
      *ngIf="barChartLabel && barChartLabel.length && barChartData && barChartData.length"
      [datasets] = "barChartData"
      [chartType]="barChartType"
      [labels]="barChartLabel"
      [legend]="barChartLegend"
      [options]="barChartOptions"
      [colors]="barChartColors"
       ></canvas>
     <!-- chart-series="clientSeries" -->
    </div>
    <!-- end of col-md-9 -->
  </div>
</div>
