 <!-- <div class="container" id="content">
  <div>
    <div>
      <div class="container">
        <div *ngIf='errMsg' class="alert alert-danger">
          {{errMsg}}
        </div>
        <div *ngIf='succMsg' class="alert alert-success">
          {{succMsg}}
        </div>
        <h3>Your Information</h3>
        <div class="table-responsive info">
          <table class="table table-hover table-bordered" id="trainer-info-table">
            <tbody>
              <tr>
                <td>Trainer ID</td>
                <td>{{trainer.id}}</td>
              </tr>
              <tr>
                <td>First Name</td>
                <td>{{trainer.firstName}}</td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td>{{trainer.lastName}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <button type="button" class="btn btn-primary" (click)="toggleForm()" id="update-info-btn">Update Your Info</button>

        <div class="container" class="toggledContainer">
          <div class="row">
            <div class="col-md-6 mb-1" *ngIf="formOpen">
              <form>
                <label for="firstname">First Name:</label>
                <input type="text" [(ngModel)]='newFirstName' required name="newFirstName">
                <br>
                <label for="lastname">Last Name:</label>
                <input type="text" [(ngModel)]='newLastName' required name="newLastName">

                <button class="btn btn-success" (click)='updateInfo()'>Save</button>
              </form>
            </div>
            <div class="col-md-6" *ngIf="statusMsg">
              <div [ngClass]="statusClass" class="msg">{{ statusMsg }}</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div> -->

<!-- New Trainer Home Page 1807 -->
<!-- <div class ="container" id="content">
<h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <div class="col-md-3">
        <div class="text-center">
          <div *ngIf='errMsg' class="alert alert-danger">
            {{errMsg}}
          </div>
          <div *ngIf='succMsg' class="alert alert-success">
            {{succMsg}}
          </div>
        </div>
      </div>
      <div class="col-md-9 personal-info">

        <h3> Trainer Id: {{trainer.id}}</h3>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="{{trainer.firstName}}" [(ngModel)]='newFirstName' required name="newFirstName">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="{{trainer.lastName}}" [(ngModel)]='newLastName' required name="newLastName">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" (click)='updateInfo()' value="Update Info">
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6" *ngIf="statusMsg">
        <div [ngClass]="statusClass" class="msg">{{ statusMsg }}</div>
      </div>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-md-3">
    <div class="text-center">
      <div *ngIf='errMsg' class="alert alert-danger">
        {{errMsg}}
      </div>
      <div *ngIf='succMsg' class="alert alert-success">
        {{succMsg}}
      </div>
    </div>
  </div>

<form>
  <h1>Trainer Id: {{trainer.id}}</h1>
  <h6>Edit information below</h6>
  <fieldset>
    <label for="first">First Name:</label>
    <input class="form-control" type="text" value="{{trainer.firstName}}" [(ngModel)]='newFirstName' required name="newFirstName">
    <label for="last">Last Name:</label>
    <input class="form-control" type="text" value="{{trainer.lastName}}" [(ngModel)]='newLastName' required name="newLastName">
  </fieldset>

  <button type="button" class="btn btn-default" value="Update Info" (click)="updateInfo()">Update Information</button>
</form>
<div class="col-md-6" *ngIf="statusMsg">
  <div [ngClass]="statusClass" class="msg">{{ statusMsg }}</div>
</div> -->


<!-- Two Column View -->
<div class="container table-width-adjust">
    <div class="row">
      <div class="col-lg-5 col-md-12 mcolumn left">
        <table class="table">
          <!-- <thead>

          </thead> -->
          <tbody>
              <tr class="max-width">
                  <td>Trainer ID</td>
                  <td>{{trainer.id}}</td>
              </tr>
              <tr class="max-width">
                      <td>First Name</td>
                      <td>{{trainer.firstName}}</td>
              </tr>
              <tr class="max-width">
                  <td>Last Name</td>
                  <td>{{trainer.lastName}}</td>
          </tr>
          </tbody>
        </table>
      </div>
         <div class="col-lg-7 col-md-12 mcolumn right">
        <div class="col-lg-7 col-md-12 mcolumn right">
            <form>
                <h3>Update Information</h3>
                <fieldset>
                  <label for="first">First Name:</label>
                  <input class="form-control" type="text" value="{{trainer.firstName}}" [(ngModel)]='newFirstName' required name="newFirstName">
                  <label for="last">Last Name:</label>
                  <input class="form-control" type="text" value="{{trainer.lastName}}" [(ngModel)]='newLastName' required name="newLastName">
                </fieldset>

                <!-- <input type="button" class="btn btn-primary" (click)='updateInfo()' value="Update Info"> -->
                <button type="button" class="btn btn-default" value="Update Info" (click)="updateInfo()">Submit</button>
              </form>
        </div>
      </div>
      <div class="col-md-6" *ngIf="statusMsg">
          <div [ngClass]="statusClass" class="msg">{{ statusMsg }}</div>
      </div>
    </div>
  </div>
