<div class="col-lg-7 col-md-12 mcolumn right pwu-main">

  <form>
    <h3>Update Password</h3>

    <div class="update-result">
      <div *ngIf='error' class="alert alert-danger">
        {{error}}
      </div>
      <div *ngIf='success' class="alert alert-success">
        {{success}}
      </div>
    </div>

    <fieldset>
      <label for="oldPassword">Old Password:</label>
      <input class="form-control" type="password" value="" [(ngModel)]='oldPassword' 
        required name="oldPassword">
      <label for="newPassword">New Password:</label>
      <input class="form-control" type="password" value="" [(ngModel)]='newPassword' 
        required name="newPassword" placeholder="{{ passReq }}">
      <label for="newPasswordConfirm">Confirm New Password:</label>
      <input class="form-control" type="password" value="" [(ngModel)]='newPasswordConfirm' 
        required name="newPasswordConfirm" placeholder="{{ passReq }}">
    </fieldset>

    <button type="button" id="submitButton" class="btn btn-default" value="Update Password" (click)="updatePassword()">Update
      Password</button>
  </form>
</div>