.pointer {
  cursor: pointer;
}

.edit {
  width: 4%;
}

.id {
  width: 10%;
}

.first {
  width: 10%;
}

.last {
  width: 10%;
}

.status {
  width: 20%;
}

.client {
  width: 20%;
}

.batch {
  width: 20%;
}

#info {
  border-color: #c8c8c8;
  border-width: 1px;
  border-style: solid;
}
