thead {
  background-color: #ddd;
  border-color: black;
}

.pointer {
  cursor: pointer;
}

.edit {
  /* width: 4px; */
  width: 5%;
}

.id {
  /* width: 10px; */
  width: 10%;
}

.first {
  /* width: 10px; */
  width: 10%;
}

.last {
  /* width: 10px; */
  width: 10%;
}

.status {
  /* width: 20px; */
  width: 15%;
}

.client {
  /* width: 20%; */
  width: 15%;
}

.batch {
  /* width: 20px; */
  width: 19%;
}

.center-div
{
  margin: 0 auto;
  width: 100px;
  padding: 20px;
}

img{
  padding: 20px;
}

.verificationStatus {
  /* width: 20px; */
  width: 16%;
}

#info {
  border-color: #c8c8c8;
  border-width: 1px;
  border-style: solid;
}

.pre-scrollable {
  max-height: 550px !important;
  overflow-y: scroll;
}
.center-div
{
  margin: 0 auto;
  width: 100px;
}
