<app-navbar></app-navbar>

<div class="container" ng-init="getAvailableClients(); onLoad(); getAllAssociates()">
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <label for="name">Search by Text: </label>
        <input type="text" class="form-control" id="name" [(ngModel)]="searchByText">
      </div>
      <div class="col-sm-2">
        <label for="mStatus">Marketing Status: </label>
        <select class="form-control" id="mStatus" [(ngModel)]="searchByStatus">
          <option label=" "></option>
          <option>MAPPED: TRAINING</option>
          <option>MAPPED: RESERVED</option>
          <option>MAPPED: SELECTED</option>
          <option>MAPPED: CONFIRMED</option>
          <option>MAPPED: DEPLOYED</option>
          <option>UNMAPPED: TRAINING</option>
          <option>UNMAPPED: OPEN</option>
          <option>UNMAPPED: SELECTED</option>
          <option>UNMAPPED: CONFIRMED</option>
          <option>UNMAPPED: DEPLOYED</option>
        </select>
      </div>
      <div class="col-sm-2">
        <label for="curriculum">Curriculum: </label>
        <select class="form-control" id="curriculum" [(ngModel)]="searchByCurriculum">
          <option label=""></option>
          <option *ngFor="let curriculum of curriculums">{{curriculum}}</option>
        </select>
      </div>
      <div class="col-sm-2">
        <label for="client">Client: </label>
        <select class="form-control" id="client" [(ngModel)]="searchByClient">
          <option label=""></option>
          <option selected="selected">None</option>
          <option *ngFor="let client of clients">{{client.name}}</option>
        </select>
      </div>

    </div>
  </div>


  <div class="well">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="pointer">
          <tr>
            <th class="edit">Edit</th>
            <th class="id" (click)="sort('id')">Associate ID</th>
            <th class="first" (click)="sort('firstName')">First Name</th>
            <th class="last" (click)="sort('lastName')">Last Name</th>
            <th class="status" (click)="sort('marketingStatus')">Marketing Status</th>
            <th class="client" (click)="sort('client')">Client Name</th>
            <th class="batch" (click)="sort('batch')">Batch Name</th>
          </tr>
        </thead>
      </table>
      <div class="table-responsive pre-scrollable" id="info">
        <table class="table table-striped table-hover table-bordered" border-width=2px>
          <tr *ngFor="let associate of associates | filterByText:searchByText">
            <ng-container *ngIf="(searchByStatus === associate.marketingStatus || searchByStatus === '')
              && (searchByClient === associate.client || searchByClient === '')
              && (searchByCurriculum === associate.curriculumName || searchByCurriculum === '')">
              <td class="edit">
                <input type="checkbox" id={{associate.id}}>
              </td>
              <td class="id">{{associate.id}}</td>
              <td class="first">{{associate.firstName}}</td>
              <td class="last">{{associate.lastName}}</td>
              <td class="status">{{associate.marketingStatus}}</td>
              <td class="client">{{associate.client}}</td>
              <td class="batch">
                <a href="#!/batchDetails/{{associate.batchName}}">{{associate.batchName}}</a>
              </td>
            </ng-container>
          </tr>
        </table>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-4">
          <br>
          <label for="uStatus">Update by Marketing Status: </label>
          <select class="form-control" id="uStatus" [(ngModel)]="updateStatus">
            <option label=""></option>
            <option>MAPPED: TRAINING</option>
            <option>MAPPED: RESERVED</option>
            <option>MAPPED: SELECTED</option>
            <option>MAPPED: CONFIRMED</option>
            <option>MAPPED: DEPLOYED</option>
            <option>UNMAPPED: TRAINING</option>
            <option>UNMAPPED: OPEN</option>
            <option>UNMAPPED: SELECTED</option>
            <option>UNMAPPED: CONFIRMED</option>
            <option>UNMAPPED: DEPLOYED</option>
          </select>
        </div>
        <div class="col-sm-4">
          <br>
          <label for="uclient">Client: </label>
          <select class="form-control" id="uclient" [(ngModel)]="updateClient">
            <option label=""></option>
            <option selected="selected">None</option>
            <option *ngFor="let client of clients">{{client.name}}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <br><br>
          <button id="submit" (click)="updateAssociates()" class="btn">Update</button>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</div>

