<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img class="img-responsive footer-img" src="./assets/rev-footer.png" alt="Revature" height="175" width="175" />
      </div>
      <div class="col-sm-4">
        <ul class="list-unstyled">
          <li>
            <span class="glyphicon glyphicon-home"></span>
            <span>&nbsp;11730 Plaza America Drive <br> Reston, VA 20190</span>
          </li>
          <li>
            <span class="glyphicon glyphicon-earphone"></span>
            <a href="tel:(703) 570-8282">&nbsp;(703) 570-8282</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="list-unstyled">
          <li>
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="mailto:info@revature.com">&nbsp;info@revature.com</a>
          </li>
          <li>
            <span class="glyphicon glyphicon-link"></span>
            <a target="_blank" href="http://revature.com">&nbsp;revature.com</a>
          </li>
          <li>
            <span class="copyright">
              &copy; 2017 Revature
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
