<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button (click)="changeChartType('bar')" class="btn btn-default">Bar Chart</button>
      <button (click)="changeChartType('pie')" class="btn btn-default">Pie Chart</button>
      <button (click)="changeChartType('polarArea')" class="btn btn-default">Polar Chart</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="white">
        <canvas baseChart 
          class="chart chart-bar" 
          id="the_graph" 
          *ngIf="clientDeployedData && clientDeployedData.length && clientDeployedLabels && clientDeployedLabels.length"
          [data]="clientDeployedData" 
          [labels]="clientDeployedLabels" 
          [chartType]="chartType" 
          [options]="chartOptions" 
          [colors]="mappedColors"
          (chartClick)="chartClicked($event)"
          >
        </canvas>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="white">
        <canvas baseChart 
          id="pie" 
          class="chart chart-pie" 
          [data]="deployedData" 
          [colors]="mappedColors" 
          [chartType]="deployedChartType"
          [options]="deployedOptions" 
          [labels]="deployedLabels" 
          (chartClick)="deployedOnClick($event)">
        </canvas>
      </div>
    </div>
  </div>
</div>