<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button (click)="changeChartType('bar')" class="btn btn-default">Bar Chart</button>
      <button (click)="changeChartType('pie')" class="btn btn-default">Pie Chart</button>
      <button (click)="changeChartType('polarArea')" class="btn btn-default">Polar Chart</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="white">
        <canvas baseChart
          class="chart chart-bar"
          id="the_graph"
          *ngIf="clientUndeployedData && clientUndeployedData.length && clientUndeployedLabels && clientUndeployedLabels.length"
          [data]="clientUndeployedData"
          [labels]="clientUndeployedLabels"
          [chartType]="chartType"
          [options]="chartOptions"
          [colors]="undeployedColors"
          (chartHover)="chartHovered($event)"
          >
        </canvas>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="white">
        <canvas baseChart
          id="pie"
          class="chart chart-pie"
          [data]="undeployedData"
          [labels]="undeployedLabels"
          [chartType]="undeployedChartType"
          [colors]="mappedColors"
          [options]="undeployedOptions"
          (chartClick)="undeployedOnClick($event)">
        </canvas>
      </div>
    </div>
  </div>
