<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
<title>Home Page</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-route.js"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script	src="http://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#!/">Revature Associate Tracker</a>
			</div>

			<ul class="nav navbar-nav">
				<li><a href="#!/clientDetails">Client List</a></li>
				<li><a href="#!/batchListing">Batch List</a></li>
				<li><a href="#!/associateListing">Associate List</a></li>
				<li><a href="#!/form">Form(To be moved to different page later)</a>
			</ul>
		</div>
		<div ng-controller="databaseCtrl" class="navbar-header">
			<ul class="nav navbar-nav">
				<li><button ng-click="populateDB()" class="btn btn-default">Populate
						Database</button></li>
				<li><button ng-click="deleteDB()" class="btn btn-danger" disabled>Empty
						Database, do not click this Adrian</button></li>
			</ul>
			<p>{{dbMessage}}</p>

		</div>
	</nav>
	<div ng-view></div>
	<script src="../js/mainApp.js"></script>
</body>
</html>