<!DOCTYPE html>
<html>
<!-- SCROLLS -->
<!-- load bootstrap and fontawesome via CDN -->
<link rel="stylesheet"
	href=https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css />
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

<!-- SPELLS -->
<!-- load angular and angular route via CDN -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
<head>
</head>
<body ng-app="myApp">
<div ng-controller="databaseCtrl">

 <H1>Populate Data/ Delete All Data</H1>
	<form>
	Populate Data:
	<br><input type="submit" value="Select" ng-click="populate()"/><br>
	Delete All Data:
	<br><input type="submit" value="Select" ng-click="clear()"/>
	</form>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('databaseCtrl', function($http, $scope) {
	$scope.populate = function(){
		$http.get("http://localhost:8080/project3/track/database/Populate")
		}
	$scope.clear = function(){
		$http.get("http://localhost:8080/project3/track/database/DeleteAll")
		}    
        
    });
</script>
</body>
</html>
