<div class="container">
	<div ng-controller="skillsetCtrl">
		<div class="col-md-6">
			<h3 class="text-center text-primary" ng-bind="selectedStatus">Status
				Name</h3><br/>
			<canvas id="bar" class="chart chart-bar" chart-type="chartType" chart-data="skillsetData"
				chart-colors="colors" chart-click="skillsetClick" chart-labels="skillsetLabels" chart-options="options">
		</canvas>
		<button ng-click="changeChartType('bar')">Bar Chart</button>
		<button ng-click="changeChartType('pie')">Pie Chart</button>
		<button ng-click="changeChartType('polarArea')">Polar Chart</button>
		</div>
	</div>
</div>