<!-- <div class="col-lg-5">
    <button class="btn btn-success" (click)='button()'>Populate DB</button>
    <div class="desc"><p>This button will refresh the database by removing current data and replacing it with template data.  All transactional data is erased and the database is restored to its initial state.</p></div>
</div> -->

<form>

  <h1>Salesforce</h1>

  <fieldset>
    <legend><span class="number"></span><b>Warning: </b>replaces current data with template data</legend>
  </fieldset>
  <button type="submit" class="btn btn-danger" value="Submit" (click)="button()" >Populate DB</button>
</form>
