canvas {
  padding: 0;
  width: 100%;
}

 tbody {
  display: block;
  overflow-y: scroll;
  margin-right: -25px;
  max-height: 500px;
  background-color: white;
}

.mcolumn.left tbody {
  margin-right: 0px;
}

.data-status {
  text-align: center;
}

.table-row {
  display: flex;
  flex-grow: 1;
}

.mcolumn.left {
  margin-left: 0px;
  margin-bottom: 50px;
  padding-left: 0px;
}

.mcolumn.right {
  margin-right: 0px;
  padding-right: 0px;
  margin-bottom: 50px;
}

form > div {
  display: inline-block;
}

form > div:first-child {
  margin-right: 50px;
}

.name-column {
  width: 50%;
}

.date-column {
  width: 25%;
}
.center-div
{
  margin: 0 auto;
  width: 100px;
}

img{
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  form > div:first-child {
    margin-right: 0px;
  }
  .table-width-adjust {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.max-width {
  display: flex;
}

table{
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.mcolumn.left table {
  width: auto;
  overflow-x: auto;
}

tbody > tr {
  cursor: pointer;
  opacity: 1.0;
  transition: opacity .2s ease-in-out;
}

tbody > tr:hover {
  opacity: 1.0;
}

tbody:hover > tr:not(:hover) {
  opacity: 0.5;
}
