<!-- @Author Princewill Ibe -->
<div class="container table-width-adjust">
  <div>
    <title class="text-center text-primary">Batch List</title>
  </div>
  <div class="row">
    <div class="col-lg-5 col-md-12 mcolumn left">
      <h3>All Batches</h3>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr class="max-width">
            <th class="name-column">Batch Name</th>
            <th class="date-column">Start Date</th>
            <th class="date-column">End Date</th>
          </tr>
        </thead>
        <tbody>
          <div class="center-div" *ngIf="!dataReady">
            <img src="./../../../assets/loadingcircle.gif" height="200" width="200">
          </div>
          <ng-container *ngIf="dataReady">
            <tr *ngFor="let batch of batches" class="max-width">
              <td class="name-column">
                <a routerLink="/batch-details/{{batch.id}}">{{batch.batchName}}</a>
              </td>
              <td class="date-column">{{batch.startDate | date:'MM/dd/yyyy'}}</td>
              <td class="date-column">{{batch.endDate| date:'MM/dd/yyyy'}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="col-lg-7 col-md-12 mcolumn right">
      <h3>Select Dates</h3>
      <div *ngIf="showDateRangeError" class="alert alert-danger" role="alert">
          {{dateRangeMessage}}
      </div>
      <form>
        <div>
          <label for="startDate">From:</label>
          <!-- You have to use ngModel AND ngModelChange for proper initialization!! -->
          <input type="date" [ngModel]="stringStart" (ngModelChange)="stringStart = $event" id="startDate" name="stringStart"
             />
        </div>
        <div>
          <label for="endDate">To:</label>
          <input type="date" [ngModel]="stringEnd | date:'yyyy-MM-dd'" (ngModelChange)="stringEnd = $event" id="endDate" name="stringEnd"
          />
        </div>
        <div>
          <input type="submit" class="btn btn-default" value="Submit" (click)="applySelectedRange()" />
          <input type="submit" class="btn btn-danger" value="Reset" (click)="resetToDefaultBatches()" />
        </div>
      </form>
      <div class="center-div" *ngIf="!dataReady">
        <img src="./../../../assets/loadingcircle.gif" height="200" width="200">
      </div>
      <ng-container *ngIf="dataReady && !dataEmpty">
        <canvas baseChart id="pie" class="chart chart-pie" [data]="curriculumCounts" [labels]="curriculumNames" [chartType]="pieChartType"
          [colors]="batchColors" [options]="chartOptions">
        </canvas>
      </ng-container>
      <h3 class="data-status" *ngIf="dataReady && dataEmpty">
        No Batch Found
      </h3>
    </div>
  </div>
</div>
