<div class="container">
	<div class="row">
		<div class="col-md-6">
		<button ng-click="changeChartType('bar')" class="btn btn-default">Bar Chart</button>
		<button ng-click="changeChartType('pie')" class="btn btn-default">Pie Chart</button>
		<button ng-click="changeChartType('polarArea')" class="btn btn-default">Polar Chart</button>
		</div>
		</div>
	<div class="row">
		<div class="col-lg-6">
			<h3 class="text-center text-primary" ng-bind="selectedStatus">Status
				Name</h3><br/>
			<canvas id="bar" class="chart chart-bar" chart-type="chartType" chart-data="skillsetData"
				chart-colors="skillTheme" chart-click="skillsetClick" chart-labels="skillsetLabels" chart-options="options">
			</canvas>
		</div>
	</div>
</div>