<div class="container">
	<div class="row">
		<div class="col-md-6">
			<button (click)="changeChartType('bar')" class="btn btn-default">Bar Chart</button>
			<button (click)="changeChartType('pie')" class="btn btn-default">Pie Chart</button>
			<button (click)="changeChartType('polarArea')" class="btn btn-default">Polar Chart</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="white">
				<br/>
				<canvas baseChart id="skillset" class="chart chart-bar" *ngIf="skillsetData && skillsetData.length && skillsetLabels && skillsetLabels.length"
				 [chartType]="chartType" [data]="skillsetData" [labels]="skillsetLabels" [colors]="batchColors" [options]="chartOptions"
				 >
				</canvas>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<div class="white">
				<canvas baseChart id="pie" class="chart chart-pie" [data]="unmappedData" [labels]="unmappedLabels" [chartType]="unmappedChartType"
				 [colors]="skillColors" [options]="unmappedOptions" (chartClick)="unmappedOnClick($event)">
				</canvas>
			</div>
		</div>

	</div>
</div>