<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="BackendCoverageSuite" thread-count="1">
	<test name="entityTest">
		<classes>
			<class name="com.revature.test.junit.entity.TfAssociateTest" />
			<class name="com.revature.test.junit.entity.TfBatchLocationTest" />
			<class name="com.revature.test.junit.entity.TfBatchTest" />
			<class name="com.revature.test.junit.entity.TfCurriculumTest" />
			<class name="com.revature.test.junit.entity.TfEndClientTest" />
			<class name="com.revature.test.junit.entity.TfInterviewTest" />
			<class name="com.revature.test.junit.entity.TfMarketingStatusTest" />
			<class name="com.revature.test.junit.entity.TfPlacementTest" />
			<class name="com.revature.test.junit.entity.TfRoleTest" />
			<class name="com.revature.test.junit.entity.TfTrainerTest" />
			<class name="com.revature.test.junit.entity.TfUserTest" />
		</classes>
	</test>
	<test name="utilTest">
		<classes>
			<class name="com.revature.test.junit.util.HibernateUtilTest" />
			<class name="com.revature.test.junit.util.PasswordStorageTest" />
		</classes>
	</test>
	<test name="servicesTest">
		<classes>
			<class name="com.revature.test.services.AssociateServiceTest" />
			<class name="com.revature.test.services.BatchesServiceTest" />
			<class name="com.revature.test.services.ClientServiceTest" />
			<class name="com.revature.test.services.CurriculumServiceTest" />
			<class name="com.revature.test.services.InterviewServiceTest" />
			<class name="com.revature.test.services.TrainerServiceTest" />
			<class name="com.revature.test.services.UserServiceTest" />
		</classes>
	</test>
	<test name="resourceTest">
		<classes>
			<class name="com.revature.test.restAssured.AssociateResourceTest" />
			<class name="com.revature.test.restAssured.BatchResourceTest" />
			<class name="com.revature.test.restAssured.ClientResourceTest" />
			<class name="com.revature.test.restAssured.CurriculumResourceTest" />
			<class name="com.revature.test.restAssured.InterviewResourceTest" />
			<class name="com.revature.test.restAssured.TrainerResourceTest" />
			<class name="com.revature.test.restAssured.UserResourceTest" />
		</classes>
	</test>
</suite>
