<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="BackendCoverageSuite" thread-count="1">
	<test name="reinitDatabase">
		<classes>
			<class name="com.revature.test.utils.ResetDatabase"/>
		</classes>
	</test>
	<test name="daoImplTest">
		<classes>
			<class name="com.revature.test.dao.AssociateDAOTest"/>
			<class name="com.revature.test.dao.BatchDAOTest"/>
			<class name="com.revature.test.dao.ClientDAOTest"/>
			<class name="com.revature.test.dao.CurriculumDAOTest"/>
			<class name="com.revature.test.dao.InterviewDAOTest"/>
			<class name="com.revature.test.dao.MarketingStatusDAOTest"/>
			<class name="com.revature.test.dao.TrainerDAOTest"/>
			<class name="com.revature.test.dao.UserDAOTest"/>
		</classes>
	</test>
	<test name="entityTest">
       <classes>
           <class name="com.revature.test.orm.entity.TfAssociateTest" />
           <class name="com.revature.test.orm.entity.TfBatchLocationTest" />
           <class name="com.revature.test.orm.entity.TfBatchTest" />
           <class name="com.revature.test.orm.entity.TfClientTest"/>
           <class name="com.revature.test.orm.entity.TfCurriculumTest" />
           <class name="com.revature.test.orm.entity.TfEndClientTest" />
           <class name="com.revature.test.orm.entity.TfInterviewTest" />
           <class name="com.revature.test.orm.entity.TfInterviewTypeTest"/>
           <class name="com.revature.test.orm.entity.TfMarketingStatusTest" />
           <class name="com.revature.test.orm.entity.TfPlacementTest" />
           <class name="com.revature.test.orm.entity.TfRoleTest" />
           <class name="com.revature.test.orm.entity.TfTrainerTest" />
           <class name="com.revature.test.orm.entity.TfUserAndCreatorRolerContainerTest" />
           <class name="com.revature.test.orm.entity.TfUserTest" />
       </classes>
   </test>
   <test name="utilTest">
   	<classes>
   		<class name="com.revature.test.orm.util.HibernateUtilTest"/>
   		<class name="com.revature.test.orm.util.PasswordStorageTest"/>
   	</classes>
   </test>
	<test name="servicesTest">
		<classes>
			<class name="com.revature.test.services.AssociateServicesTest" />
			<class name="com.revature.test.services.BatchServicesTest" />
			<class name="com.revature.test.services.ClientServicesTest" />
			<class name="com.revature.test.services.CurriculumServicesTest" />
			<class name="com.revature.test.services.InterviewServicesTest" />
			<class name="com.revature.test.services.JWTServicesTest" />
			<class name="com.revature.test.services.MarketingStatusServicesTest" />
			<class name="com.revature.test.services.TrainerServicesTest" />
			<class name="com.revature.test.services.UserServicesTest" />
		</classes>
	</test>
	<test name="restAssuredTest">
		<classes>
			<class name="com.revature.test.restAssured.AssociateRestTest" />
			<class name="com.revature.test.restAssured.BatchRestTest" />
			<class name="com.revature.test.restAssured.ClientRestTest" />
			<class name="com.revature.test.restAssured.CurriculumRestTest" />
			<class name="com.revature.test.restAssured.InterviewRestTest" />
			<class name="com.revature.test.restAssured.TrainerRestTest" />
			<class name="com.revature.test.restAssured.UserRestTest" />
		</classes>
 	</test>
 	<test name="resourceTest">
		<classes>
			<class name="com.revature.test.resources.AssociateResourceTest" />
			<class name="com.revature.test.resources.BatchResourceTest" />
			<class name="com.revature.test.resources.ClientResourceTest" />
			<class name="com.revature.test.resources.CurriculumResourceTest" />
			<class name="com.revature.test.resources.InterviewResourceTest" />
			<class name="com.revature.test.resources.TrainerResourceTest" />
			<class name="com.revature.test.resources.UserResourceTest" />
		</classes>
 	</test>
 	 <test name="randomGeneratorTest">
 		<classes>
 			<class name="com.revature.test.TestNG.GenerateDataTest" />
 		</classes>
	</test>
 	<test name="cucumber">
 		<classes>
 			<class name="com.revature.test.runner.CucumberTestRunner" />
 		</classes>
  </test>
	<test name="resetDatabase">
		<classes>
			<class name="com.revature.test.utils.ResetDatabase"/>
		</classes>
	</test>
</suite>
