table {
  border-width: 1px;
}
.info td:first-child {
  font-weight: bold;
}
.container{
	margin-bottom : 90px;
  margin-top:80px;
}

thead, tbody {
  background-color: #fff;
}

.toggledContainer {
  min-height: 300px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 5px;
  background-color: white;
  border: 2px solid lightgrey;
}
