
td{
  width: 250px;
  padding: 20px;
}
.info td:first-child {
  font-weight: bold;
}

thead, tbody {
  background-color:#f4f7f8;
}

.toggledContainer {
  /* min-height: 300px; */
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 5px;
  background-color: white;
  border: 2px solid lightgrey;
}

.center-div
{
  margin-top: 100px;
  padding: 20px;
}

#left {
  float: left;
  overflow: hidden;
}

#right {
  overflow: hidden;
}

/* SteveL */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

table{
  margin: 10px auto;
  border-radius: 0px;
  overflow: hidden;
  background: #f4f7f8;
  /* box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15); */
}

tbody > tr {
  cursor: pointer;
  opacity: 1.0;
  transition: opacity .2s ease-in-out;
}

tbody > tr:hover {
  opacity: 1.0;
}

tbody:hover > tr:not(:hover) {
  opacity: 0.5;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}
h6{
  margin: 0 0 5px 0;
  text-align: center;
}

input[type="text"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  /* color: #8a97a0; */
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}


#resetButton{
  padding: 5px 15px 5px 15px;
  color: #FFF;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  /* border: 1px solid #3ac162; */
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

#submitButton {
  padding: 5px 15px 5px 15px;
  color: #FFF;
  background-color: #4CAF50;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  /* border: 1px solid #3ac162; */
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}


@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}
