table {
  border-width: 1px;
}
td{
  width: 250px;
  padding: 20px;
}
.info td:first-child {
  font-weight: bold;
}

thead, tbody {
  background-color: #fff;
}

.toggledContainer {
  /* min-height: 300px; */
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 5px;
  background-color: white;
  border: 2px solid lightgrey;
}

.center-div
{
  margin-top: 100px;
  padding: 20px;
}
