<div class="container">
  <div>
    <div>
      <div class="container">
        <div *ngIf='errMsg' class="alert alert-danger">
          {{errMsg}}
        </div>
        <div *ngIf='succMsg' class="alert alert-success">
          {{succMsg}}
        </div>
        <h3>Your Information</h3>
        <div class="table-responsive info">
          <table class="table table-hover table-bordered">
            <tbody>
              <tr>
                <td>Associate ID</td>
                <td>{{ (associate && associate.id) ? associate.id : ""}}</td>
              </tr>
              <tr>
                <td>First Name</td>
                <td>{{ (associate && associate.firstName) ? associate.firstName : ""}}</td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td>{{ (associate && associate.lastName) ? associate.lastName : ""}}</td>
              </tr>
              <tr>
                <td>Marketing Status</td>
                <td>{{ (associate && associate.marketingStatus && associate.marketingStatus.name ) ? associate.marketingStatus.name
                  : ""}}</td>
              </tr>
              <tr>
                <td>Batch Name</td>
                <td>{{ (associate && associate.batch && associate.batchName) ? associate.batch.batchName : ""}}</td>
              </tr>
              <tr>
                <td>Client Name</td>
                <td>{{ (associate && associate.client && associate.client.name) ? associate.client.name : ""}}</td>
              </tr>
              <tr>
                <td>End Client Name</td>
                <td>{{ (associate && associate.endClient && associate.endClient.name ) ? associate.endClient.name : ""}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <button type="button" class="btn btn-primary" (click)="toggleForm()">Update Your Info</button>

        <div class="container" *ngIf="formOpen" class="toggledContainer">
          <form ng-form="changeName">
            <label for="firstname">First Name:</label>
            <input type="text" [(ngModel)]='newFirstName' name="newFirstName">
            <br>
            <label for="lastname">Last Name:</label>
            <input type="text" [(ngModel)]='newLastName' name="newLastName">

            <input type="button" value="Save" (click)='updateInfo()'>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>