<app-navbar [associate]="associate"></app-navbar>
<div class="container">
  <div class="row">
  <div>
    <div class = "card-deck mb-3 text-center">
      <h3>Your Information</h3>
      <div class="table-responsive info">
        <table class="table table-hover table-bordered">
          <tbody>
            <tr>
              <td>Associate ID</td>
              <td>{{associate.id}}</td>
            </tr>
            <tr>
              <td>First Name</td>
              <td>{{associate.firstName}}</td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td>{{associate.lastName}}</td>
            </tr>
            <tr>
              <td>Marketing Status</td>
              <td>{{associate.marketingStatus}}</td>
            </tr>
            <tr>
              <td>Batch Name</td>
              <td>{{associate.batchName}}</td>
            </tr>
            <tr>
              <td>Client Name</td>
              <td>{{associate.client}}</td>
            </tr>
            <tr>
              <td>End Client Name</td>
              <td>{{associate.endClientName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      </div>
</div>
</div>
<app-footer></app-footer>