<div class="container" id="content">
  <div>
    <div>
      <div class="container">
        <div *ngIf='errMsg' class="alert alert-danger">
          {{errMsg}}
        </div>
        <div *ngIf='succMsg' class="alert alert-success">
          {{succMsg}}
        </div>
        <h3>Your Information</h3>
        <div class="table-responsive info">
          <table class="table table-hover table-bordered">
            <tbody>
              <tr>
                <td>Associate ID</td>
                <td>{{associate.id}}</td>
              </tr>
              <tr>
                <td>First Name</td>
                <td>{{associate.firstName}}</td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td>{{associate.lastName}}</td>
              </tr>
              <tr>
                <td>Marketing Status</td>
                <td>{{associate.marketingStatus}}</td>
              </tr>
              <tr>
                <td>Batch Name</td>
                <td>{{associate.batchName}}</td>
              </tr>
              <tr>
                <td>Client Name</td>
                <td>{{associate.client}}</td>
              </tr>
              <tr>
                <td>End Client Name</td>
                <td>{{associate.endClientName}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <button type="button" class="btn btn-primary" (click)="toggleForm()">Update Your Info</button>

        <div class="container" *ngIf="formOpen" class="toggledContainer">
          <form>
            <label for="firstname">First Name:</label>
            <input type="text" [(ngModel)]='newFirstName'>
            <br>
            <label for="lastname">Last Name:</label>
            <input type="text" [(ngModel)]='newLastName'>

            <input type="button" value="Save" (click)='updateInfo()'>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>