<div class="container">
  <div class="card-deck mb-3 text-center">
    <div>
      <h3>My Interviews</h3>
      <div class="alert alert-danger" *ngIf="conflictingInterviews!=''">
        {{conflictingInterviews}}
      </div>
      <table class="table table-responsive table-hover table-bordered">
        <thead>
          <tr>
            <th>Interview</th>
            <th>Client</th>
            <th>Date Notified</th>
            <th>Interview Date</th>
            <th>Medium</th>
            <th>Job Description</th>
            <th>24 hour notice?</th>
            <th>Feedback</th>
            <!-- <th>Associate Feedback <i class="fa fa-edit" style="font-size:24px"></i> </th>
            <th>Client Feedback</th>   -->
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let interview of interviews; let i = index">
            <td>{{i+1}}</td>
            <td>{{interview.client}}</td>

            <td>
              <div *ngIf='!interview.isDateAvailable; else dateEdit2'>
                {{interview.date | date:'short'}}
                <br>
                <button class="icon-button" type="button" (click)='showAvailableDate(interview)'>
                  <i class="glyphicon glyphicon-pencil pencil" style="font-size:15px"></i>
                </button>
              </div>
              <ng-template #dateEdit2>
                <input id="date" #date type="datetime-local" [(ngModel)]="interview.date">
                <button type="button" (click)='showAvailableDate(interview,date.value)'>
                  <i class="glyphicon glyphicon-pencil pencil" style="font-size:24px"></i>
                </button>
              </ng-template>
            </td>

            <td>
              <div *ngIf='!interview.isEditingAvailable; else dateEdit' [ngStyle]="{'background-color': highlightInterviewConflicts(i) ? 'rgba(255,0,0,0.5)':''}">
                {{interview.DInterview |date: 'short'}}
                <br>
                <button class="icon-button" type="button" (click)='showInputDate(interview)'>
                  <i class="glyphicon glyphicon-pencil pencil" style="font-size:15px"></i>
                </button>
              </div>

              <ng-template #dateEdit>
                <input id="date" #date2 type="datetime-local" [(ngModel)]="interview.DInterview">
                <button type="button" (click)='showInputDate(interview,date2.value)'>
                  <i class="glyphicon glyphicon-pencil pencil" style="font-size:24px"></i>
                </button>
              </ng-template>

            </td>

            <td>{{interview.type}}</td>

            <td>{{interview.JDescription}}</td>

            <td class="flag">
              <input type="checkbox" id="flag" [(ngModel)]="interview.Flag">
            </td>

            <td>
              <a [routerLink]="['/interviewDetails', i, id]" class="id">view</a>
            </td>

            <td>
              <button type="button" class="btn btn-primary" (click)='updateInterview(i)'>Save </button>
            </td>

          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" (click)="toggleForm()">Toggle Create New Interview Form</button>
      <div class="row" *ngIf="formOpen" class="toggledContainer">
        <div class="col-lg-9">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-3">Client:</label>
              <div class="col-sm-9">
                <select class="form-control" name="newClient" [(ngModel)]="newInterview.clientId">
                  <option selected="selected">None</option>
                  <option *ngFor="let client of clients" [value]="client.id">{{client.tfClientName}}</option>
                </select>
              </div>
            </div>



            <div class="form-group">
              <label class="control-label col-sm-3">Date of interview:</label>
              <div class="col-sm-9">
                <!-- <input type="date" class="form-control" name="date" [(ngModel)]="newInterview.date" /> -->
                <input type="datetime-local" class="form-control" name="date" [(ngModel)]="interviewDate" />
              </div>
            </div>

            <label class="control-label col-sm-3">Date Assigned:</label>
            <div class="col-sm-9">
              <!-- <input type="date" class="form-control" name="date" [(ngModel)]="newInterview.date" /> -->
              <input type="datetime-local" class="form-control" name="date" [(ngModel)]="interviewDateNotification" />
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3">Type:</label>
              <div class="col-sm-9">
                <select class="form-control" name="type " [(ngModel)]="newInterview.typeId">
                  <option value="1">Phone</option>
                  <option value="2">Online</option>
                  <option value="3">On-site</option>
                  <option value="4">Skype</option>
                </select>
              </div>
            </div>
            <div class="form-group">
            </div>
            <label class="control-label col-sm-3">24 hour notice?</label>
            <input type="checkbox" name="24hournotice" [(ngModel)]="newInterview.was24HRNotice">
            <button (click)="addInterview()" class="btn btn-warning">Add Interview</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>