<app-navbar [associate]="associate"></app-navbar>
<div class="container">
  <div class = "card-deck mb-3 text-center">
     <div>
      <h3>My Interviews</h3>
      <div class="alert alert-danger">
        {{conflictingInterviews}}
      </div>
      <table class="table table-responsive table-hover table-bordered">
        <thead>
          <tr>
            <th>Interview</th>
            <th>Client</th>
            <th>Date Recieved</th>
            <th>Medium</th>
            <th>Associate Feedback</th>
            <th>Flag</th>
            <th>Info</th>
            <th>Job Description</th>
            <th>Date of Interview</th>
            <th>Client FeedBack</th>   
            <th>Flag Reason</th>
             
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let interview of interviews; let i = index">
            <td>{{i+1}}</td>
            <td>{{interview.client}}</td>
            <td [ngStyle]="{'background-color': highlightInterviewConflicts(i) ? 'red':''}">{{interview.date | date:'longDate'}}</td>
            <td>{{interview.type}}</td>
            <td>{{interview.Afeedback}}</td>
            <td class="flag"><input type="checkbox" id="flag"></td>
            <td><a [routerLink]="['/form-comp',associate.id]" class="id">info</a></td>
            <td>{{interview.JDescription}}</td>
            <td>{{interview.DInterview}}</td>
            <td>{{interview.CFeedback}}</td>
            <td>{{interview.FlagReason}}</td>
            
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" (click)="toggleForm()">Toggle Create New Interview Form</button>
      <div class="row" *ngIf="formOpen" class="toggledContainer">
        <div class="col-lg-9">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-3">Client:</label>
               <div class="col-sm-9">
                 <select class="form-control" name="newClient" [(ngModel)]="newInterview.client">
                     <option selected="selected">None</option>
                     <option *ngFor="let client of clients" [value]="client.id">{{client.tfClientName}}</option>
                 </select>
               </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Date:</label>
               <div class="col-sm-9">
                 <!-- <input type="date" class="form-control" name="date" [(ngModel)]="newInterview.date" /> -->
                 <input type="datetime-local" class="form-control" name="date" [(ngModel)]="newInterview.date" />
               </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Type:</label>
               <div class="col-sm-9">
                 <select class="form-control" name="type "[(ngModel)]="newInterview.type">
                     <option value="1">Phone</option>
                     <option value="2">Online</option>
                     <option value="3">On-site</option>
                     <option value="4">Skype</option>
                 </select>
               </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Feedback:</label>
              <div class="col-sm-9">
                <textarea type="text" class="form-control" name="feedback" rows="3" [(ngModel)]="newInterview.feedback"></textarea>
              </div>
            </div>
            <button (click)="addInterview()" class="btn btn-warning">Add Interview</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
