<div class="container">
  <h3 style="text-align:center">New Interview</h3>
  <div class="row" class="toggledContainer">

      <form (ngSubmit)=addInterview() [formGroup]=addInterviewForm>
        <div class="form-group">
            <br>
            <label class="control-label col-sm-2">Client:</label>
            <div class="col-sm-3">
                <select class="form-control" name="newClient" formControlName=clientId>
                <option selected="selected">None</option>
                <option *ngFor="let client of clients" [ngValue]="client">{{client.name}}</option>
                </select>
            </div>

            <label class="control-label col-sm-2">Type:</label>
            <div class="col-sm-3">
                <select class="form-control" id="interviewType" name="type" formControlName=typeId>
                    <option value="1">Phone</option>
                    <option value="2">Online</option>
                    <option value="3">On-site</option>
                    <option value="4">Skype</option>
                </select>
            </div>

            <div class="form-group col-md-3">
              <label for="inputDate">Interview Date:</label>
              <input type="date"
                class="form-control" name="startDate" id="inputDate" formControlName="interviewDate"
                placeholder="mm/dd/yyyy">
              <label for="interviewTime">Interview Time:</label>
              <input type="time" 
                class="form-control" name="startTime" id="interviewTime" formControlName="interviewTime"
                placeholder="hh:mm">
              <span *ngIf="addInterviewForm.get('interviewDate').touched"
               class="help-block"
               id="interviewDateHelpText">Enter a Date of the form "mm/dd/yyyy" for date 
                and "hh:mm (AM|PM)" for time.
              </span>
            </div>
            <br><br>
            <label class="control-label col-sm-1">24 hour notice?</label>
            <input title="Were you given 24-hr notice for the interview?"
            type="checkbox" name="24hournotice" formControlName="was24HRNotice">
        </div>
        <br><br><br>
        <div class="form-group">
            <button id='add-interview' class="btn btn-success pull-right" type="submit">Add Interview</button>
        </div>
    </form> <!--Add Interview Form-->

    <div *ngIf='succMsg' class="alert alert-success">
      {{succMsg}}
    </div>
    <div *ngIf='failMsg' class="alert alert-danger" id="failureAlert">
      {{failMsg}}
    </div>
  </div>

  <div class="card-deck mb-3 text-center">
    <div>
      <h3>My Interviews</h3>
      <div *ngIf="conflictingInterview" class="alert alert-danger">
        {{conflictingInterviews}}
      </div>
      <div *ngIf=updateSuccess class=" alert alert-success">
        Successfully updated interview
      </div>
    </div>
      <table class="table table-responsive table-hover table-bordered">
        <thead>
          <tr>
            <th>Interview</th>
            <th>Client</th>
            <th>Interview Date</th>
            <th>Update Date</th>
            <th>Medium</th>
            <th>Job Description</th>
            <th>24 hour notice?</th>
            <th>Feedback</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="tableBody">
          <tr *ngFor="let interview of interviews; let i = index" id="tableRows">
            <td>{{i+1}}</td>
            <td>{{ (interview.client && interview.client.name) ? interview.client.name : ""}}</td>

            <td>
              {{interview.interviewDate| date:'medium'}}
            </td>

            <td>
              <form [formGroup]="registerForm" >
                  <div class="input-group mb-3" style="width: 310px;">
                      <input class="form-control" type="datetime-local" formControlName="dateinput">
                      <span class="input-group-addon" style="width: 10px;"></span>
                      <button type="button" class="btn btn-primary" (click)='updateInterview(interview)'>Update</button>       
                  </div>
               </form>
            </td>

            <td>{{ (interview.interviewType && interview.interviewType.name) ? interview.interviewType.name : "" }}</td>

            <td>{{ (interview.jobDescription) ? interview.jobDescription : "" }}</td>

            <td class="flag">
              <input type="checkbox" id="flag" [(ngModel)]="interview.was24HRNotice" [disabled]=true>
            </td>

            <td class="button_col">
              <button type="button" class="btn btn-primary" (click)='viewInterview(interview.id)' style.display="inline">View</button>

            </td>

          </tr>
        </tbody>
      </table>
      <div class="center-div" *ngIf="!isDataReady">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>
  </div>
<!-- </div> -->
